@media screen and (max-width:567px){
    .nav-ul, .first-btn{
        display: none;
    }
    
    .menu-icon{
        display: block;
    }
    #schl{
        display: none;
    }
    .marquee{
        display: none;
    }
    /* hr{
        display: block;
        margin-top: -20px;
    } */
     .box-btn{
        display: none;
     }
    nav{
        box-sizing: border-box;
        border: 0.5px solid rgb(254, 163, 1);
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .banner-head{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    /* .about{
        line-break: normal;
    } */
    /* .goo{
        line-break: auto;
    }
    .home{
        text-align: center;
        align-items: center;
    }
    .small{
        line-break: auto;
    } */
    
    .banner{
            width: 640px;
            height: 331px;
            margin-top: 250px;
            margin-bottom: 20px;
        } 
    .banner-2{
            width: 640px;
            height: 331px;
        } 
    .banner h2{
            width: 700px;
            height: 331px;
            text-align: center;
            align-items: center;
            padding: 0px 100px;
         }
    /* .banner h2{
        border: 2px solid tomato;
        width: 500px;
        height: 300px;
        margin-left: 110px;
    } */
    .banner p{
        font-weight: 500;
        text-align: center;
        margin-top: -20px;
        border: 1px solid tomato;
        width: 450px;
        margin-left: 60px;
        padding: 0px 0px 0px 10px;
    } 
    .box{
        display: flex;
        flex-direction: column;
        /* margin-left: 10px; */
        padding: 2rem;
    }
    .bxd{
         margin: 1rem; 
    }
    .box-head{
        align-items: center;
    }
    .box-head-h1{
        /* align-items: center; */
        margin-top: 8rem;
    }
    .kids--box1{
        display: none;
    }
    #card-4{
        display: block;
    }
    #card-3{
        display: block;
    }
    .kids-section-box2{
        margin-left: 5px;
    }

    .footer-head{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
    }
    
    /* body{
        margin-right: 15px;
    } */
}