@media screen and (max-width:567px){
    .nav-ul, .first-btn{
        display: none;
    }
    
    .menu-icon{
        display: block;
    }
    #schl{
        display: none;
    }
    /* hr{
        display: block;
        margin-top: -20px;
    } */
    nav{
        box-sizing: border-box;
        border: 0.5px solid rgb(254, 163, 1);
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .banner-head{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
       
    }
    /* .banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        gap: 18px; 
    } */
    /* .banner h2{
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }
    .banner p{
        font-size: .80rem;
        font-weight: 500;
        text-align: center;
    } */
    .box{
        display: flex;
        flex-direction: column;
        /* margin-left: 10px; */
        padding: 2rem;
    }
    .bxd{
         margin: 1rem; 
    }
    .box-head{
        align-items: center;
    }
    .box-head-h1{
        /* align-items: center; */
        margin-top: 8rem;
    }
    .kids--box1{
        display: none;
    }
    #card-4{
        display: block;
    }
    #card-3{
        display: block;
    }
    .kids-section-box2{
        margin-left: 5px;
    }

    .footer-head{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
    }
    /* body{
        margin-right: 15px;
    } */
}